/client

/backend/node_modules
/backend/.env
/backend/build

/frontend/node_modules
/frontend/build
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local